body {
     font-family: 'Raleway', sans-serif;
     color: rgba(0, 0, 0, .5);
     text-align: center;
     text-transform: uppercase;
     letter-spacing: .5em;
     top: 15%;
     background: linear-gradient(to right, red, yellow);
     margin: auto 0;
     position: static;
}

h1 {
     font: 600 'Raleway', sans-serif;
     color: rgba(0, 0, 0, .5);
     text-align: center;
     text-transform: uppercase;
     width: 100%;
}

h3 {
     font: 900 'Raleway', sans-serif;
     color: rgba(0, 0, 0, .5);
     text-align: center;
     text-transform: none;
     letter-spacing: 0.01em;
}